/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
}

:root{
    --spotify-dark: rgb(8,11,18);
    --spotify-black: rgb(0,0,0);
    --spotify-primary: rgb(20,25,34);
    --spotify-white: rgb(255,255,255);
    --spotify-toolbar: rgb(40,40,40);
    --spotify-midgrey: rgb(20,25,34);
    --spotify-bar-grey: rgb(103,103,103);
    --spotify-darkgrey: rgb(122,124,129);
    --spotify-lightgrey: rgb(210,210,210);
    --spotify-green: rgb(173,255,47);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

/* #endregion Common */

/* #region Utilities */

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.align-start{
    align-items: start;
}

.justify-content-center{
    justify-content: center;
}

.justify-start{
    justify-content: start;
}

.justify-space-around{
    justify-content: space-around;
}

.justify-end{
    justify-content: end;
}

.justify-space-between{
    justify-content: space-between;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-direction-row{
    flex-direction: row;
}

.flex-wrap{
    flex-wrap: wrap;
}

.gap-2{
    gap: 0.5rem;
}

.gap-3{
    gap: 0.75rem;
}

.gap-4{
    gap: 1rem;
}

.gap-6{
    gap: 1.5rem;
}

.gap-12{
    gap: 3rem;
}



/* #endregion Utilities */

/* #region Debug */

.debug .sidebar{
    background-color: rgb(221, 74, 229);
}

.debug .header{
    background-color: rgb(55, 108, 136);
}

.debug .main{
    background-color: rgb(62, 62, 202);
}

.debug .toolbar{
    background-color: rgb(162, 235, 53);
}

.debug .card{
    background-color: yellow;
    height: 150px;
    aspect-ratio: 1 / 1;
}

/* #endregion Debug */

/* #region Container */

/* #endregion Container */

/* #region Sidebar */

.sidebar{
    width: 50px;
    background-color: var(--spotify-black);
    height: calc(100vh - 60px);
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    width: 25px;
    aspect-ratio: 1/1;
    margin: 0.5rem 0.75rem;
    background-image: url("./img/logo-small.svg");
    background-size: cover;
}

.logo img{
    visibility: hidden;
}

.m-icon{
    width: 20px;
    height: 20px;
    margin: 0.5rem 0.75rem;
}

.icon-text{
    font-size: 0.5rem;
    color: var(--spotify-lightgrey);
    visibility: hidden;
    font-weight: 700;
    font-weight: bold;
    margin-left: 0.3rem;
}

.sidebar h5{
    text-transform: uppercase;
    color: var(--spotify-white);
    font-size: 0.7rem;
    margin-left: 0.75rem;
    margin-top: 1rem;
}

.playlists-menu{
    visibility: hidden;
}

.create-playlist{
    margin-top: 0.5rem;
    margin-left: 0.75rem;
}

.create-playlist-text{
    font-size: 0.65rem;
    font-weight: bold;
    font-weight: 600;
    color: var(--spotify-bar-grey);
}

.playlist{
    color: var(--spotify-bar-grey);
    font-size: 0.6rem;
    font-weight: bold;
    font-weight: 600;
}

.create-playlist ul li{
    margin-top: 0.5rem;
}

.functions-menu{
    position: absolute;
    bottom: 0;
    margin-bottom: 0.75rem;
}

.install{
    width: 0.75rem;
    margin-left: 0.75rem;
    border-bottom: 1px solid var(--spotify-bar-grey);
}

.install-text{
    color: var(--spotify-bar-grey);
    font-size: 0.5rem;
    font-weight: 700;
    font-weight: bold;
    margin-left: 0.5rem;
    visibility: hidden;
}

.user-icon{
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--spotify-bar-grey);
    margin-left: 0.75rem;
    margin-top: 0.75rem;
}

.user-icon img{
    border-radius: 50%;
}

.username{
    color: var(--spotify-white);
    font-size: 0.6rem;
    font-weight: bold;
    font-weight: 700;
    padding-left: 0.5rem;
    margin-top: 0.6rem;
    visibility: hidden;
}


/* #endregion Sidebar */

/* #region Main */
.main{
    background-color: var(--spotify-primary);
    padding-left: 50px;
    padding-bottom: 50px;
}

section{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 1rem;
}

section h3{
    color: var(--spotify-white);
    margin: 0.25rem;
    margin-bottom: 0.5rem;
}

.row{
    margin-top: 0.75rem;
}

section .subtitle-suggestions{
    font-size: 8px;
    color: var(--spotify-bar-grey);
    font-weight: 700;
    font-weight: bold;
    margin: 0.25rem;
}

.card, .round-card{
    width: 50%;
    aspect-ratio: 1 / 1;
    padding: 0.5rem;
    min-width: 100px;
    max-width: 250px;
}

.round-card img{
    border-radius: 50%;
}

.playlist-name{
    font-size: 11px;
    color: var(--spotify-white);
    font-weight: 700;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}

.card .playlist-subtitle{
    font-size: 8px;
    color: var(--spotify-bar-grey);
    font-weight: 700;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    padding: 0.25rem;
}

/* #endregion Main */

/* #region Header */
.header{
    background-color: var(--spotify-dark);
    height: 50px;
    position: relative;
}

.upgrade{
    color: var(--spotify-white);
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 700;
    font-weight: bold;
    padding: 5px 15px;
}

.btn{
    border: 1px solid var(--spotify-white);
    border-radius: 15px;
    position: absolute;
    right: 10px;
    top: 12px;
    bottom: 12px;
}

/* @media screen and (max-height: 600px){
    .header{
        height: 70px;
    } 
}

@media screen and (max-height: 170px){
    .header{
        height: 70px;
    } 
} */


/* #endregion Header */

/* #region Navbar */

.navbar{
    margin-top: 5px;
    padding-bottom: 20px;
}

.navbar a{
    color: var(--spotify-bar-grey);
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 700;
    font-weight: bold;
    padding-bottom: 5px;
}

/* .green-line-x{
    width: 20px;
    border-bottom: 1.5px solid var(--spotify-green);
    margin-left: 10px;
}

.navbar a:hover{
} */

/* #endregion Navbar */

/* #region Toolbar */
.toolbar{
    background-color: var(--spotify-toolbar);
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.song-cover{
    height: 30px;
    width: 30px;
    margin-left: 0.75rem;
}

.song-info{
    padding-left: 0.75rem;
}

.song-info .song-title{
    font-size: 0.5rem;
    color: var(--spotify-white);
    font-weight: 700;
    font-weight: bold;
}

.song-info .song-author{
    font-size: 8px;
    color: var(--spotify-bar-grey);
    font-weight: 700;
    font-weight: bold;
}

.song-author:hover{
    color: var(--spotify-white);
    text-decoration: underline;
}

.toolbar-left .icons{
    padding-top: 20px;
    padding-left: 30px;
}

.toolbar-center{
    padding-top: 10px;
}

.present-time, .total-lenght{
    font-size: 8px;
    color: var(--spotify-white);
    font-weight: 500;
}

.full-bar{
    background: var(--spotify-bar-grey);
    height: 3px;
    max-width: 500px;
    min-width: 100px;
    border-radius: 3px;
    margin-left: 30px;
    margin-right: 30px;
}

.progress-bar{
    background: var(--spotify-lightgrey);
    width: 20%;
    height: 3px;
    border-radius: 3px;
}

.toolbar-right{
    padding-right: 15px;
}

.volume-full-bar{
    background: var(--spotify-bar-grey);
    height: 3px;
    width: 100px;
    border-radius: 3px;
}

.volume-progress-bar{
    background: var(--spotify-lightgrey);
    width: 20%;
    height: 3px;
    border-radius: 3px;
}

/* @media screen and (max-height: 600px){
    .toolbar{
        height: 70px;
    } 
}

@media screen and (max-height: 170px){
    .toolbar{
        height: 70px;
    } 
} */
/* #endregion Toolbar */

/* #region @media */


/* #region @media */

@media screen and (min-width: 480px){
    .sidebar{
        width: 150px;
    }

    .logo{
        background-image: none;
        width: 100px;
        margin-bottom: 1rem;
    }

    .logo img{
        visibility: visible;
    }

    .sidebar{
        width: 150px;
    }

    .logo{
        background-image: none;
        width: 100px;
        height: 20px;
        margin-bottom: 1rem;
    }

    .logo img{
        visibility: visible;
    }

    .icon-text, .username, .install-text{
        visibility: visible;
    }

    .playlists-menu{
        visibility: visible;
    }


    .main{
        padding-left: 150px;
    }
}

@media screen and (min-width: 768px) {
    .card, .round-card{
        width: 25%;
    }
}

@media screen and (min-width: 1024px) {
    .card, .round-card{
        width: calc(100% / 6);
    }
}

@media screen and (min-width: 1200px) {
    .card, .round-card{
        width: calc(100% / 6);
    }
}

@media screen and (max-height: 550px) {
    .functions-menu, .install-text, .username{
        visibility: hidden;
    }
}

/* #endregion @media */






/* @media screen and (max-width: 480px) {
    .sidebar .logo img{
        width: 30px;
    }
}

@media screen and (max-width: 678px) {
    .sidebar{
        width: 150px;
    }
} */


/* @media screen and (min-width: 480px){
    .sidebar{
        width: 150px;
    }

    .sidebar .logo{
        width: 100px;
        background-image: none;
        margin: 0.75rem;
    }

    .sidebar .logo img{
        visibility: visible;
    }

    .icon{
        width: 20px;
        background-image: none;
        margin: 0.75rem;
        visibility: visible;
    }

    .green-line-y{
        visibility: visible;
    }

    .icon-img, .icon-text{
        visibility: visible;
    } 


}

@media screen and (min-width: 600px) {
    .card{
        width: 25%;
    }
}

@media screen and (min-width: 768px) {
    .card{
        width: calc(100% / 6);
    }

    .icons{
        flex-direction: row;
    }
} */

/* #endregion @media */